<p class="heading">admindashboardpopup works!</p>
<!-- <p class="reheading">hello</p> -->
<div class="btndiv">
  <button class="savebutton">save</button>
  <button class="cancelbtn">cancel</button>
</div>
<div class="abc">
<div class="form-row">
  <label for="">Id:</label>
  <input type="text">
</div >
<div class="form-row">
  <label for="">Name:</label>
  <input type="text">
</div>
<div class="form-row">
  <label for="">Email:</label>
  <input type="email">
</div>
<div class="form-row">
  <label for="">CreatedAt:</label>
  <input type="date">
</div></div>
<h6>{{data.message}}</h6>
<h6>{{data.name}}</h6>
