/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spinner{
  position: fixed;
  /* background: rgb(0, 0, 0,0.1411764706); */
  background: rgb(0, 0, 0,0.1411764706);
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1040;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


.mat-mdc-table .mat-mdc-header-cell{
  background-color: #058292 !important;
}
.mat-mdc-table .mat-mdc-header-cell{
  height: 20px;
}
.mat-mdc-cell{
  background: #66c5c5 !important;
  /* height: 20px; */
}

.mat-mdc-table .mat-mdc-row,
.mat-mdc-table .mat-mdc-cell,
.mat-mdc-table .mat-mdc-header-cell
 {
  height: 5px !important;
}

/* .mat-mdc-cell

.mat-mdc-table .mat-mdc-header-cell {
  height: 20px;
} */

.th-divider {
  border-right: 1px solid #ccc; /* or any color */
}
.td-divider{
  border-right: 1px solid#067465; /* or any color */

}

/* search */
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color:  #fdfdfd !important;
}

.mat-mdc-form-field:not(.mat-form-field-disabled) .mat-mdc-floating-label.mdc-floating-label {
    /* height: 45px; */
}
.mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
    /* height: 37px; */
}

/* .mat-mdc-text-field-wrapper {
    height: 39px !important} */
.custom-dialog {
  margin-left: 1000px;
  margin-bottom: 61px;
}
